{% extends 'base.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <h1>{{ "Organizations"|trans }}</h1>

    <p><a href="{{ path('organization_admin_new') }}" class="btn btn-success">{{ "Create new"|trans }}</a>
    </p>


    {{ form_start(form, {'action': path('organization_admin_index'), 'method': 'GET'}) }}

    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.location) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.scanPlan) }}
        </div>

        <div class="col-md-1">
            <label style="min-width: 100px;"> &nbsp; </label>
            <button class="btn btn-primary btn-block">{{ "Filter"|trans }}</button>

        </div>
        <div class="col-md-1">
            <label style="min-width: 100px;"> &nbsp; </label>
            <a href="{{ path('organization_admin_index') }}"
               class="btn btn-dark">{{ "Reset filter"|trans }}</a>

        </div>
    </div>

    {{ form_end(form) }}


    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th{% if pagination.isSorted('Organization.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name'|trans, 'Organization.name') }}
            </th>
            <th{% if pagination.isSorted('Location.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Location'|trans, 'Location.name') }}
            </th>
            <th{% if pagination.isSorted('Owner.lastName') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Owner'|trans, 'Owner.lastName') }}
            </th>
            <th{% if pagination.isSorted('ScanPlan.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'ScanPlan'|trans, 'ScanPlan.name') }}
            </th>
            <th{% if pagination.isSorted('Organization.Created') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Created'|trans, 'Organization.created') }}
            </th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.location }}</td>
                <td>{% if organization.owner %}<a href="{{ path('user_admin_show', {'id': organization.owner.id}) }}"
                                                  class="">{{ organization.owner }}</a>
                    {% endif %}</td>
                <td>{{ organization.scanPlan|trans }}</td>
                <td>{{ organization.created ? organization.created|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('organization_admin_show', {'id': organization.id}) }}"
                       class="btn btn-sm btn-primary">{{ "btnShow"|trans }}</a>
                    <a href="{{ path('organization_admin_edit', {'id': organization.id}) }}"
                       class="btn btn-sm btn-primary">{{ "btnEdit"|trans }}</a>
                    <a href="{{ path('letter_admin_index', {'fi[organization]': organization.id}) }}"
                       class="btn btn-sm btn-secondary">{{ "Letters"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
