{% extends 'base.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <h1>{{ "Organizations"|trans }}</h1>

    <p><a href="{{ path('organization_admin_new') }}" class="btn btn-success">{{ "Create new"|trans }}</a>
    </p>


    {{ form_start(form, {'action': path('organization_admin_index'), 'method': 'GET'}) }}

    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.location) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.scanPlan) }}
        </div>

        <div class="col-md-1">
            <label style="min-width: 100px;"> &nbsp; </label>
            <button class="btn btn-primary btn-block">{{ "Filter"|trans }}</button>

        </div>
        <div class="col-md-1">
            <label style="min-width: 100px;"> &nbsp; </label>
            <a href="{{ path('organization_admin_index') }}"
               class="btn btn-dark">{{ "Reset filter"|trans }}</a>

        </div>
    </div>

    {{ form_end(form) }}


    <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th{% if pagination.isSorted('Organization.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name'|trans, 'Organization.name') }}
            </th>
            <th{% if pagination.isSorted('Location.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Location'|trans, 'Location.name') }}
            </th>
            <th{% if pagination.isSorted('Owner.lastName') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Owner'|trans, 'Owner.lastName') }}
            </th>
            <th{% if pagination.isSorted('ScanPlan.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'ScanPlan'|trans, 'ScanPlan.name') }}
            </th>
            <th{% if pagination.isSorted('Organization.Created') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Created'|trans, 'Organization.created') }}
            </th>
            <th>{{ "Actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.location }}</td>
                <td>{% if organization.owner %}<a href="{{ path('user_admin_show', {'id': organization.owner.id}) }}"
                                                  class="">{{ organization.owner }}</a>
                    {% endif %}</td>
                <td>{{ organization.scanPlan|trans }}</td>
                <td>{{ organization.created ? organization.created|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('organization_admin_show', {'id': organization.id}) }}"
                       class="btn btn-sm btn-primary" title="{{ "btnShow"|trans }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                    </a>
                    <a href="{{ path('organization_admin_edit', {'id': organization.id}) }}"
                       class="btn btn-sm btn-primary" title="{{ "btnEdit"|trans }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pen-fill" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                        </svg>

                    </a>
                    <a href="{{ path('letter_admin_index', {'fi[organization]': organization.id}) }}"
                       class="btn btn-sm btn-secondary" title="{{ "Letters"|trans }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>

                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
