{% extends 'base.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <h1>Organizations</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Owner</th>
                <th>Scan</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.location }}</td>
                <td>{{ organization.owner }}</td>
                <td>{{ organization.scan ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('organization_admin_show', {'id': organization.id}) }}" class="btn btn-sm btn-primary">{{ "btnShow"|trans }}</a>
                    <a href="{{ path('organization_admin_edit', {'id': organization.id}) }}" class="btn btn-sm btn-primary">{{ "btnEdit"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('organization_admin_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
