{% extends 'base.html.twig' %}

{% block title %}Sending notifications{% endblock %}

{% block body %}
    <h1>{{ "Sending notifications"|trans }}</h1>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>{{ "Created"|trans }}</th>
            <th>{{ "Title"|trans }}</th>
            <th>{{ "Recipients"|trans }}</th>
            <th>{{ "MessageId"|trans }}</th>
            <th>{{ "Organization"|trans }}</th>
            <th>{{ "Location"|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.created  ? notification.created |date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ notification.title }}</td>
                <td>{{ notification.recipient }}</td>
                <td>{{ notification.sentMessageId }}</td>
                <td>{{ notification.organization }}</td>
                <td>{{ notification.organization.location }}</td>
                <td><a href="{{ path('organization_notification_admin_show', {'organization': notification.organization.id, 'notification': notification.id}) }}"
                       class="btn btn-sm btn-primary">{{ "btnShow"|trans }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="text-center"></p>
    <div class="alert alert-info alert-dismissible niezaszer" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        Refresh the page to send more.
    </div>
{% endblock %}
