{% extends 'base.html.twig' %}

{% block title %}{{ "Users"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Users"|trans }}</h1>

    <p><a href="{{ path('user_admin_new') }}" class="btn btn-success">{{ "Create new"|trans }}</a>
    </p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ "Id"|trans }}</th>
            <th>{{ "Username"|trans }}</th>
            <th>{{ "First name"|trans }}</th>
            <th>{{ "Last name"|trans }}</th>
            <th>{{ "Email"|trans }}</th>
            <th>{{ "Location"|trans }}</th>
            <th>{{ "Enabled"|trans }}</th>
            <th>{{ "Roles"|trans }}</th>
            <th>{{ "Created"|trans }}</th>
            <th>{{ "Updated"|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>{% for role in user.roles %}
                        <span class="badge badge-info">{{ role|trans }}</span>
                    {% endfor %}
                </td>
                <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updated ? user.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_admin_show', {'id': user.id}) }}"
                       class="btn btn-sm btn-primary">{{ "btnShow"|trans }}</a>
                    <a href="{{ path('user_admin_edit', {'id': user.id}) }}"
                       class="btn btn-sm btn-primary">{{ "btnEdit"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
