{% extends 'base.html.twig' %}

{% block title %}{{ "Letter"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Letter"|trans }}</h1>
    {% include 'letter_user/letter_info.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('letter_user_index', {'id': letter.organization.id}) }}"
                   class="btn btn-secondary btn-block">{{ "Back to list"|trans }}</a>
            </div>
            <div class="col-md-6">

                {% if (not letter.organization.scan) and (not letter.scanOrdered) %}
                <a href="{{ path('letter_user_order_scan', {'organization': letter.organization.id, 'letter': letter.id}) }}"
                   class="btn btn-primary btn-block">{{ "Order scan"|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
